$color: red;

$background-color: #ffffff;
$background-darker: #9ebcb8;

$text-color: #000000;
$accent: #293242;

$primary: #016107;
$secondary: #b3c2af;


@mixin button {
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}

@mixin button-primary {
    @include button;
    background: $primary;
}

@mixin button-secondary {
    @include button;
    background: $secondary;
}

:root {
    --background-color: #{$background-color};
}

@font-face {
    font-family: "Inter";
    src: url("/Inter.ttf")
}

@font-face {
    font-family: "Montserrat";
    src: url("/Montserrat.ttf")
}

@font-face {
    font-family: "Istok Web";
    src: url("/IstokWeb.ttf");
}

* {
    margin: 0;
    font-family: "Montserrat", "Istok Web", sans-serif;
}